<h1>Accessibility Modal Component</h1>

<p>Welcome to the acessibility modal testing page!</p>
<button
  type="button"
  class="button button-primary"
  (click)="show()"
>Show modal</button>

<!-- ng-template: o angular não processa. Ele quarda -->
<ng-template #modal>
  <div class="form-field">
    <label for="firstName">First name</label>
    <input id="firstName" [(value)]="firstName">
  </div>

  <div class="form-field">
    <label for="surname">Surname</label>
    <input id="surname">
  </div>

  <div class="form-field">
    <label for="age">Age</label>
    <input id="age">
  </div>

  <div class="button-group">
    <button class="button button-primary" type="button">Submit</button>
    <button
      class="button button-secondary"
      type="button"
      (click)="modalRef.close()"
    >Cancel</button>
  </div>
</ng-template>
